@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
abbr,
address,
article,
aside,
audio,
body,
canvas,
caption,
cite,
dd,
details,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
img,
label,
legend,
li,
menu,
nav,
object,
ol,
p,
section,
span,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul,
video {
  font-family: "nbg", "맑은고딕", "Malgun Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", AppleGothic, Dotum, arial, sans-serif;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#layer {
  display: block;
  position: fixed;
  width: 570px;
  height: 550px;
  background-color: rgb(125, 149, 228);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  font-size: 2em;
  padding: 3em;
  box-sizing: border-box;
  line-height: 2;
  top: 50px;
  left: 100px;
}

#layer button {
  cursor: pointer;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #222;
  color: #fff;
}

.nav-top {
  width: 100%;
  height: 48px;
  background-color: rgb(2, 52, 107);
  color: white;
  line-height: 48px;
}

.container {
  width: 1240px;
  margin: auto;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.fl-clear::after {
  content: "";
  display: block;
  clear: both;
}
.mt_5{
  margin-top: 5px;
}
.mt_10{
  margin-top: 10px;
}
.mt_20{
  margin-top: 20px;
}
.mt_30{
  margin-top: 30px;
}
.mt_50{
  margin-top: 50px;
}
.mb_30{
  margin-bottom: 30px;
}

.flex {
  display: flex;
}

.inner {
  width: 1240px;
  margin: auto;
}

.mg30 {
  margin-top: 25px;
}

header {
  width: 100%;
  min-width: 1240px;
  margin: auto;
}
content {
  position: relative;
}
.top-img {
  background-image: url(../images/main_bg.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.background_img {
  background-image: url(../images/bg_mainbt.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position: 1px 1px;
  min-width: 1240px;
  top: 0;
  left: 0;
  z-index: -1;
}
.background_img {
  background-image: url(../images/bg_mainbt.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1px 1px;
  min-width: 1240px;
  top: 0;
  right: 0;
}
header .nav__menu-wrap {
  position: absolute;
  left: 0;
}
.ul-line {
  position: relative;
}

body {
  background: url(../images/bg_gnb.png);
  background-repeat: repeat;
  background-position: center;
}

.help {
  background-image: url(../images/bg_gnb2.png);
  background-repeat: no-repeat;
}

.help2 {
  background-image: url(../images/bg_gnb3.png);
  background-repeat: no-repeat;
}

/*===================================================*/

.nav-top {
  width: 100%;
  background-color: #02346b;
  color: white;
  line-height: 50px;
}

.ul-line {
  position: relative;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.ul-line > li::after {
  width: 1px;
  height: 12px;
  position: absolute;
  right: 0;
  background-color: white;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.ul-line > li:last-child::after {
  width: 0px;
}

.ul-row {
  height: 100%;
}

.test2 {
  position: relative;
  height: 100%;
  padding: 0 15px;
}

.font_size {
  font-size: 1rem;
  font-weight: 400;
}

.ul-row > li {
  display: inline-block;
  height: 100%;
}

.ul-row img {
  vertical-align: middle;
}
.pd__right {
  padding: 0 10px 0 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}


/*===================================================*/

.nav-bottom {
  width: 100%;
  height: 90px;
  background-color: rgb(255, 255, 255);
  line-height: 88px;
  border-bottom: 1px solid hsl(0deg 0% 87%);
}

.img-wrap {
  margin-left: 80px;
  cursor: pointer;
  height: 100%;
}

.top-pd {
  padding: 0 0 0 170px;
}
.pd-left {
  padding: 0 20px;
}

.drop-down > .nav__menu-wrap {
  visibility: hidden;
}

.drop-down:hover > .nav__menu-wrap {
  visibility: visible;
}

.nav-bottom img {
  vertical-align: middle;
}

.font-size {
  font-size: 1rem;
  font-weight: 500;
}
.ul-dot > li::after {
  width: 4px;
  height: 4px;
  position: absolute;
  right: 0;
  content: "";
  background-color: gray;
  top: 50%;
  transform: translateY(-50%);
}

.ul-dot li:last-child::after {
  width: 0;
}

.ul-box {
  height: 100%;
  cursor: pointer;
}

.ul-box li {
  height: 100%;
  line-height: 90px;
  border-left: 1px solid hsl(0deg 0% 87%);
}

.ul-box li:last-child {
  border-right: 1px solid hsl(0deg 0% 87%);
}

.nav__menu-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  line-height: normal;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

.nav__menu-left {
  width: 30%;
  padding: 20px 0;
}
.nav__box1 {
  position: relative;
  width: 300px;
  height: 500px;
}
.nav__box2 {
  position: relative;
  width: 300px;
  height: 700px;
}
.nav__box3 {
  position: relative;
  width: 300px;
  height: 400px;
}
.nav__box4 {
  position: relative;
  width: 300px;
  height: 300px;
}
.nav__imgbox {
  position: absolute;
  width: 150px;
  height: 280px;
  background-image: url(../images/gnb_bg.png);
  background-repeat: no-repeat;
  content: "";
  bottom: 0;
  right: 0;
  background-position: 1px 1px;
}
.nav__imgbox1 {
  background-position: -154px 0px;
}
.nav__imgbox2 {
  background-position: -308px 0px;
}
.nav__imgbox3 {
  background-position: -461px 0px;
}
.nav__imgbox4 {
  background-position: -614px 0px;
}
.nav__imgbox5 {
  background-position: -765px 0px;
}
.nav__menu-left > h2 {
  margin-bottom: 40px;
  position: relative;
}

.nav__menu-left > h2::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: black;
  bottom: -20px;
  left: 0px;
}

.nav__menu-left > p {
  font-size: 14px;
  color: gray;
}

.nav__menu-right {
  width: 70%;
  padding: 20px 0;
}

.menu-rightbox {
  width: 100%;
  height: 100%;
}
.box_container {
  width: 200px;
  height: 60px;
  margin: 10px 5px 10px 5px;
  border: 1px solid black;
}

.nav__menu-right > .ul-row {
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  row-gap: 30px;
}

.nav__menu-right > .ul-row > li {
  width: 24%;
  padding: 0;
}

.nav__menu-main {
  padding: 12px 12px;
  border: 1px solid hsl(0deg 0% 87%);
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}
.nav__menu-main:hover {
  border: 2px solid #02346b;
}
.nav__menu-sub {
  padding-left: 30px;
  list-style: disc;
  font-size: 0.7rem;
}

.nav__menu-sub li {
  margin-top: 10px;
  cursor: pointer;
}

.nav__menu-sub li:hover {
  text-decoration: underline;
  color: blue;
}

body {
  background: url(../images/bg_gnb.png);
  background-repeat: repeat;
  background-position: center;
}

.help {
  background-image: url(../images/bg_gnb2.png);
  background-repeat: no-repeat;
}

.help2 {
  background-image: url(../images/bg_gnb3.png);
  background-repeat: no-repeat;
}

.banner_wrap {
  width: 100%;
  padding: 30px 0 0 0;
  position: relative;
}

.banner_wrap > .inner {
  background-color: #bed8f115;
}
.banner_top {
  justify-content: space-between;
  z-index: 10;
}
.banner_rf_top{
  width: 29%;
}

.banner_rf{
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 5px 10px 0;
}
.banner_weather {
  width: 25%;
  font-size: small;
  text-align: justify;
  display: flex;
  justify-content: space-around;
}
.banner_weather >a{
  margin-top: 35px;
}

.menu_wrap{
  margin-top: 40px;
}

.face {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/sns_img.png);
  background-position: -1px -1px;
  vertical-align: middle;
}

.blog {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/sns_img.png);
  background-position: -26px -1px;
  vertical-align: middle;
}

.youtube {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/sns_img.png);
  background-position: -49px -1px;
  vertical-align: middle;
}

.gram {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/sns_img.png);
  background-position: -73px -1px;
  vertical-align: middle;
}

.qr a {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 0;
  line-height: 60px;
  text-indent: -9990px;
  background-size: 100%;
}

.qr_flex {
  justify-content: space-around;
}

.face_qr {
  background-image: url(../images/facebook_qr.jpg);
  background-repeat: no-repeat;
}

.blog_qr {
  background-image: url(../images/blog_qr.jpg);
  background-repeat: no-repeat;
}

.youtube_qr {
  background-image: url(../images/youtube_qr.jpg);
  background-repeat: no-repeat;
}

.gram_qr {
  background-image: url(../images/gram_qr.jpg);
  background-repeat: no-repeat;
}

.box {
  justify-content: space-between;
}

.manu_1 {
  width: 300px;
  height: 380px;
  display: inline-block;
  background-color: #3c4968;
  border-radius: 3%;
}

.manu_icon {
  display: inline-block;
  margin: 22px 12px 22px 19px;
  width: 65px;
  height: 65px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #313c55;
  position: relative;
  cursor: pointer;
}

.manu_icon:hover {
  animation-name: up-down;
  animation-duration: 1s;
}

.manu_icon > a {
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  bottom: -30px;
}

.icon_1 {
  background-image: url(../images/manu_icon.png);
  background-position: -197px -2px;
}

.icon_2 {
  background-image: url(../images/manu_icon.png);
  background-position: -132px -2px;
}

.icon_3 {
  background-image: url(../images/manu_icon.png);
  background-position: 194px -2px;
}

.icon_4 {
  background-image: url(../images/manu_icon.png);
  background-position: -1px -2px;
}

.icon_5 {
  background-image: url(../images/manu_icon.png);
  background-position: 324px -2px;
}

.icon_6 {
  background-image: url(../images/manu_icon.png);
  background-position: 519px -2px;
}

.icon_7 {
  background-image: url(../images/manu_icon.png);
  background-position: 260px -2px;
}

.icon_8 {
  background-image: url(../images/manu_icon.png);
  background-position: 649px -2px;
}

.manu_banner {
  width: 620px;
  height: 380px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}



.bx-next {
  text-decoration: none;
  font-size: 4em;
  position: absolute;
  top: 40%;
  right: 1%;
  opacity: 0.5;
}
.bx-prev {
  text-decoration: none;
  font-size: 4em;
  position: absolute;
  top: 40%;
  left: 1%;
  opacity: 0.5;
}
.bx-controls-auto-item{
  position: absolute;
  top: 88%;
  left: 80%;
}

.bx-controls-auto-item .bx-start{
  position: relative;
  padding: 20px;
  border: 1px solid black;
  background-color:#494949;
  opacity: 0.8;
}
.bx-controls-auto-item .bx-stop{
  position: absolute;
  top: -21px;
  left: 59px;
  padding: 20px;
  background-color:#494949;
  border: 1px solid black;
  opacity: 0.8;
}

.bx-pager{
  display: none;
}

#banner_slide {
  overflow: hidden;
}


.banner_button {
  display: flex;
  position: absolute;
  margin: 0 5px 5px 0;
  right: 0;
  bottom: 0;
}

.banner_button00 {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.banner_button01 {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.banner_button02 {
  font-size: 0;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0;
}

@keyframes slide-banner {
  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.manu-intgroup {
  width: 300px;
  height: 380px;
  padding: 30px 25px 0;
  background-image: url(../images/main_bg_rf.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.int-lf {
  display: block;
  width: 150px;
  height: 60px;
  background-image: url(../images/yd_jyc.png);
  background-size: 142px 50px;
  background-repeat: no-repeat;
  font-size: 0;
}

.int-pp {
  display: block;
  position: absolute;
  bottom: 91px;
  right: 0;
  content: "";
  width: 173px;
  height: 236px;
  background-image: url(../images/main_jyc.png);
  background-repeat: no-repeat;
}

.int-rf {
  position: absolute;
  right: 25px;
  top: 0;
  width: 86px;
  height: 39px;
  padding: 7px 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  background: url(../images/yd_rf-top.png) no-repeat;
}

.rf_ul {
  display: block;
  margin: 25px;
  z-index: 1;
  position: absolute;
  bottom: 140px;
  left: -10px;
  font-size: 12px;
}

.rf_ul > li {
  display: block;
  width: 95px;
  height: 25px;
  line-height: 25px;
  border-radius: 20px;
  background: white;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 5px;
}

.int-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 120px;
  background: #c3293a;
  padding: 25px 10px;
  display: flex;
  cursor: pointer;
}

.int-item {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.int-item::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e1e1e1;
}

.int-item:last-child::after {
  width: 0px;
}

.int-item > p {
  margin-top: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.int__icon {
  width: 35px;
  height: 40px;
  overflow: hidden;
  background-image: url(../images/jyc_low.png);
}

.int__icon-1 {
  background-position: 2px 0;
}

.int__icon-1:hover {
  animation-name: up-down;
  animation-duration: 1s;
}

.int__icon-2 {
  background-position: -33px 0;
}

.int__icon-2:hover {
  animation-name: up-down;
  animation-duration: 1s;
}

.int__icon-3 {
  background-position: -68px 0;
}

.int__icon-3:hover {
  animation-name: up-down;
  animation-duration: 1s;
}

.ct {
  width: 100%;
  height: auto;
  background-color: #fafafa04;
  border-radius: 3%;
}

.inner .ct {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.ct__top {
  width: 100%;
  padding-top: 120px;
  background-image: url(../images/ct_top.png);
  background-repeat: no-repeat;
  background-position: 516px 58px;
  font-size: 0;
  background-color: #8ecaed07;
}

.ct__lf {
  width: 50%;
  height: 410px;
  background-color: #ffffff;
  border-radius: 10px;
}

.ct__bt {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-evenly;
}

.ct__bt li {
  text-align: center;
  color: #282828;
  font-size: 1rem;
  font-weight: 700;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.ct__bt>li> a {
  color: #5b5252;
  display: block;
  width: 120px;
  padding: 13px 13px 13px 0; 
  text-decoration: none;
}
.ct__bt li a:hover {
  border-bottom: 3px solid #395fb6;
  color: #395fb6;
  font-weight: 700;
}

.ct__bottom {
  width: 100%;
  height: 320px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.ct__bottom div {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.bt__lf {
  width: 100%;
  height: 100%;
  padding: 40px;
  border-top: 1px solid rgb(223, 222, 222);
  font-size: 1rem;
  font-weight: 400;
}
.bt__lf > ul > li {
  padding: 5px 0 5px 0;
}
.bt__lf > ul > li > a{
  font-size: 1rem;
  font-weight: 400;
}
.ct__ct {
  width: 300px;
  height: 410px;
  border-radius: 10px;
}

.ct__ctbt {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ct__mt {
  width: 290px;
  height: 260px;
  border-radius: 10px;
  margin-left: 5px;
  background-color: #ffffff;
}

.ct__banner {
  padding: 15px 0 0 112px;
  margin-bottom: 10px;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  display: inline-block;
  background-color: #ffffff;
  color: #282828;
  font-size: 1rem;
  font-weight: 600;
}
.ct__img {
  width: 100%;
  height: 80%;
  display: flex;
}
.ct__slide-item {
  width: 100%;
  height: 100%;
  background-image: url(../images/ct__img-00.jpg);
  background-repeat: no-repeat;
  background-position: 25px 4px;
  cursor: pointer;
}

.ct__imglf {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  background-color: #1ea6c8;
  background-image: url(../images/pvp.png);
  background-repeat: no-repeat;
  background-position: 10px 16px;
  font-size: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.ct__imglf2 {
  content: "";
  width: 140px;
  height: 140px;
  background-image: url(../images/yd_obj00.png);
  background-repeat: no-repeat;
  background-position: 92px 72px;
  position: absolute;
}
.ct__imglf2:hover {
  animation-name: up-down;
  animation-duration: 1s;
}

.ct__imgrf {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  background-color: #3c9dec;
  background-image: url(../images/sorry.png);
  background-repeat: no-repeat;
  background-position: 10px 16px;
  font-size: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.ct__imgrf2 {
  content: "";
  width: 140px;
  height: 140px;
  background-image: url(../images/yd_obj01.png);
  background-repeat: no-repeat;
  background-position: 87px 78px;
  position: absolute;
}
.ct__imgrf2:hover {
  animation-name: up-down;
  animation-duration: 1s;
}
.ct__right {
  width: 300px;
  height: 410px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.ct__rt {
  padding: 20px 0 5px 116px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.ct__rt > span{
  color: #282828;
  font-size: 1rem;
  font-weight: 700;
}
.ct__rtimg {
  width: 235px;
  height: 176px;
  display: block;
  margin-top: 20px;
  background-image: url(../images/verywell.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.ct__text {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 235px;
  height: 88px;
  margin: 30px 0 20px 0;
  font-size: 15px;
  color: #494949;
}
.ct__text > span{
  font-size: 1rem;
  font-weight: 600;
}
.ct__text > p{
  padding-top: 20px;
  font-size: 1rem;
  font-weight: 400;
}
.quickmenu__logo {
  background-image: url(../images/yd_help.png);
  width: 300px;
  height: 100px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.quickmenu__list {
  display: flex;
  width: 100%;
}

.quickmenu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  cursor: pointer;
}

.quickmenu__item > p {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 400;
}

.quickmenu__icon {
  width: 66px;
  height: 66px;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  position: relative;
}

.quickmenu__icon:hover {
  animation-name: up-down;
  animation-duration: 1s;
}

.quickmenu__icon::after {
  position: absolute;
  content: "";
  background-image: url(../images/yd_middle.png);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60px;
  height: 60px;
}

.quickmenu__icon-1 {
  background-position: 0 0;
}

.quickmenu__icon-2::after {
  background-position: -60px 0;
}

.quickmenu__icon-3::after {
  background-position: -120px 0;
}

.quickmenu__icon-4::after {
  background-position: -180px 0;
}

.quickmenu__icon-5::after {
  background-position: -240px 0;
}

.quickmenu__icon-6::after {
  background-position: -300px 0;
}

.quickmenu__icon-7::after {
  background-position: -360px 0;
}

.program__wrap {
  width: 100%;
  margin: auto;
  min-width: 1240px;
  max-width: 1480px;
  height: 800px;
  padding: 30px 0 80px 0;
}

.program__top {
  width: 100%;
  height: 20%;
}
.program__rel{
  position: relative;
}
.program__top__banner{
  width: 100%;
  text-align: center;
}
.program__top__img{
  position: absolute;
  left: 10px;
  top:45px
}
.program__banner {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  background-color: #3b62bb;
  border-radius: 10px;
  margin-top: 20px;
}
.program__button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-width: 92px;
}

.program__button button {
  cursor: pointer;
  width: 100px;
  height: 45px;
  border-radius: 5%;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  z-index: 2;
  background-color: #3b62bb;;
  color: #fafbfc;
}

.program__no__button{
  width: 150px;
  height: 45px;
}
.program__bottom {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}

.program__left {
  width: 25%;
  height: 100%;
  display: inline-block;
  padding: 10px;
}

.prgram__lf_top-top {
  text-align: center;
  padding: 20px 0 0 0;
}

.lf_top-top {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
}

.lf_top-top span {
  color: #cd2d65;
}

.lf_top-bottom {
  padding: 5px;
  font-size: 15px;
  color: #4e4b4b;
}

.lf_top-center {
  padding: 5px 0 5px 15px;
}

.lf_top-center span {
  display: block;
  font-weight: 700;
  color: #1e1e1e;
}

.lf_top-center p {
  color: #625555;
}

.prgram__lf_top-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.bottom-left {
  width: 123px;
  height: 48px;
  background-color: #cd2d65;
  line-height: 45px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.bottom-right {
  width: 123px;
  height: 48px;
  background-color: #1f354b;
  line-height: 45px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.prgram__lf_top-center {
  padding: 10px;
}

.program__lf-top {
  height: 62%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.program__lf-bottom {
  width: 100%;
  height: 45%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
}

.lf-bottom_title {
  padding: 25px 0 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #1e1e1e;
}

.bottom_title li{
  position: relative;
  display: block;
  list-style: disc;
  font-size: 14px;
  color: #4e4b4b;
  width: 100%;
  padding: 0 50px 0 10px;
  margin: 10px 0 5px 20px;

}
.bottom_title li p{
  text-overflow: ellipsis;
  white-space: nowrap;
}

.program__center {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  background-color: white;
  margin: 10px 0 10px 0;
}

.program__ct-top {
  width: 100%;
  height: 120%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.program__top-top {
  width: 100%;
  height: 103%;
  border-radius: 10px;
  background-color: #b2cbe2;
  background-image: url(../images/yd_together.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.ct-top-text h3 {
  width: 100%;
  height: 100px;
  background-image: url(../images/yd_happy.png);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}

.ct-top-text p {
  text-align: center;
  z-index: 2;
}

.program__ct-bottom {
  width: 100%;
  height: 86%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}

.ct-bottom-title {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  height: 30%;
  font-size: 24px;
  font-weight: 700;
}

.ct-bottom-nav {
  height: 70%;
}

.program__list {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.program__item {
  text-align: center;
}

.program__icon {
  width: 72px;
  height: 80px;
  overflow: hidden;
  background-image: url(../images/program_img.png);
  cursor: pointer;
}

.program__icon:hover {
  animation-name: up-down;
  animation-duration: 1s;
}

.program__icon1 {
  background-position: 5px 243px;
}

.program__icon2 {
  background-position: -70px 243px;
}

.program__icon3 {
  background-position: -167px 243px;
}

.program__icon4 {
  background-position: -229px 243px;
}

.program__icon5 {
  background-position: -326px 243px;
}

.program__icon6 {
  background-position: -408px 243px;
}

.program__icon7 {
  background-position: -480px 243px;
}

.program__right {
  width: 25%;
  height: 100%;
  padding: 10px;
  display: inline-block;
}

.program__rf-top {
  height: 62%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.rf-top_wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  text-align: center;
}

.rf-top_wrap > p {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.rf-top_wrap > p > span {
  color: #0e799a;
}

.program__cl1{
  color: #0e799a;
}
.program__cl2{
  color: #cd2d65;
}


.rf-top_bottom1 {
  padding: 20px 0 0 10px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #4e4646;
}
.font_size_df{
  font-size: 1rem;
  font-weight: 400;
}

.rf-top_bottom1 li {
  position: absolute;
  margin-left: 20px;
  padding-top: 20px;
}

.rf-top_bottom2 {
  position: absolute;
  top: 75%;
  padding: 20px 0 0 25px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #5d5656;
  border-top: 1px dashed #ccc;
}

.program__rf-bottom {
  height: 45%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
}

.rf-bottom_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.rf-bottom_wrap > ul{
  font-size: 14px;
  color: #4e4b4b;
  width: 100%;
  padding: 0 50px 0 10px;
  margin: 30px 0 5px 20px;
}
.rf-bottom_wrap > ul > li{
  padding-top: 10px;
}

.rf-bottom_wrap > p {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}

.rf-bottom_wrap > p > span {
  color: #0e799a;
}

.rf-top_bottom2 {
  padding: 20px;
}

.danger {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/danger.png);
  background-repeat: no-repeat;
  background-position: 0px 142px;
}

.logo__wrap {
  background-color: #ffffff;
}

.logo__bottom {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.bottom-img {
  width: 10%;
  height: 100%;
  background-color: #ffffff;
  cursor: pointer;
}
.bottom-text{
  font-size: 1rem;
  font-weight: 600;
}

.bottom-img1 {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.bottom-img2 {
  width: 100%;
  height: 100%;
  background-image: url(../images/logo_bottom-yd.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-img3 {
  width: 100%;
  height: 100%;
  background-image: url(../images/bottom_logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bottom-img4 {
  width: 100%;
  height: 100%;
  background-image: url(../images/bottom_logo3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-img5 {
  width: 100%;
  height: 100%;
  background-image: url(../images/bottom_logo4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bottom-img6 {
  width: 100%;
  height: 100%;
  background-image: url(../images/bottom_logo5.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-img7 {
  width: 100%;
  height: 100%;
  background-image: url(../images/bottom_logo6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.logo_bt {
  font-size: 15px;
  padding: 5px;
  background-color: white;
  border: 0;
}
.logo_bt:hover {
  cursor: pointer;
}

.footer_wrap {
  height: 200px;
  background-color: #3d4049;
}

.footer__container {
  height: 168px;
  display: flex;
  background-color: #3d4049;
}

.footer__left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #d2d3d5;
}

.footer__top {
  width: 100%;
  height: 50%;
  padding: 30px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 600;
}
.footer__top > div {
  cursor: pointer;
}
.footer_address{
  font-size: 1rem;
  font-weight: 600;
}
.footer_font{
  font-size: 1rem;
  font-weight: 500;
}
.top_font {
  color: #d6d637;
}

.footer__bottom {
  width: 100%;
  height: 50%;
  padding: 10px;
}

.fotter__right {
  width: 30%;
  height: 100%;
}

.boxt {
  width: 100%;
  height: 100%;
  display: flex;
}

.fotter__right-img {
  width: 100%;
  height: 100%;
  background-image: url(../images/footer_right-yd.png);
  background-repeat: no-repeat;
  background-position: 242px 70px;
}

.fotter__right-img p {
  font-size: 0;
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}


@keyframes cross {
  100% {
    transform: rotate(720deg);
  }
}

@media (min-width: 1024px) {
  header {
    font-size: 18px;
  }
}

